<div class="grove-button-wrapper" {{ block.shopify_attributes }}>
  <a
    href="{{ block.settings.url | default: '#' }}"
    class="grove-button grove-button--{{ block.settings.style | default: 'primary' }}"
  >
    {{- block.settings.label -}}
  </a>
</div>

<!-- SCHEMA_INJECT -->
