.text {
  text-align: var(--text-align);

  &--title {
    font-size: var(--type-heading-lg-size);
    font-weight: var(--type-heading-lg-weight);
    line-height: var(--type-heading-lg-line-height);
  }

  &--subtitle {
    font-size: var(--type-heading-md-size);
    line-height: var(--type-heading-md-line-height);
  }
}
