.welcome {
  display: grid;
  padding: var(--spacing-4xl) 0;
  background-color: #f6f6f7;
  grid-template-columns: var(--content-grid);
}

.welcome-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);
  grid-column: 2;
  width: 100%;
  padding: 0 var(--spacing-lg);
}

.welcome-description {
  max-width: 80ch;
  margin-top: var(--spacing-lg);
  line-height: 1.4;
}

.icon {
  width: 300px;
}

.highlights {
  display: grid;
  gap: var(--spacing-xl);
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--spacing-2xl);
}

@media (width <= 1100px) {
  .highlights {
    grid-template-columns: 1fr;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  background-color: #eef3ff;
  color: rgb(92 95 98);
  line-height: 1.4;

  > * + * {
    margin-top: var(--spacing-md);
  }

  h3 {
    color: rgb(32 34 35);
    font-size: var(--type-body-md-size);
  }
}

.highlight-description {
  flex: 1 1;
}

.highlight a {
  display: flex;
  width: fit-content;
  padding: var(--spacing-2xs) var(--spacing-xs);
  border: 1px solid rgb(140 145 150);
  border-radius: var(--radius-sm);
  background-color: rgb(250 251 251);
  color: rgb(92 95 98);
  text-decoration: none;
  box-shadow:
    rgb(0 0 0 / 20%) 0 -3px 0 0 inset,
    rgb(255 255 255 / 90%) 0 2px 0 0 inset;
}
